<div class='container-fluid'>
  <div
    id='carouselExampleControls'
    class='carousel slide'
    data-bs-ride='carousel'
  >
    <div class='carousel-inner d-none d-md-block'>
      <div class='carousel-item carousel-item1 active'>
        <div class='carousel-caption d-none d-md-block'>
          <h1 class='display-3'>연구방이란?</h1>
          <p class='lead'>"단국대학교 전자전기공학부 학술동아리입니다"</p>
        </div>
      </div>
      <div class='carousel-item carousel-item2'>
        <div class='carousel-caption d-none d-md-block'>
          <h1 class='display-3'>연구방이란?</h1>
          <p class='lead'>"단국대학교 전자전기공학부 학술동아리입니다"</p>
        </div>
      </div>
      <div class='carousel-item carousel-item3'>
        <div class='carousel-caption d-none d-md-block'>
          <h1 class='display-3'>연구방이란?</h1>
          <p class='lead'>"단국대학교 전자전기공학부 학술동아리입니다"</p>
        </div>
      </div>
    </div>
    <button
      class='carousel-control-prev'
      type='button'
      data-bs-target='#carouselExampleControls'
      data-bs-slide='prev'
    >
      <span class='carousel-control-prev-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Previous</span>
    </button>
    <button
      class='carousel-control-next'
      type='button'
      data-bs-target='#carouselExampleControls'
      data-bs-slide='next'
    >
      <span class='carousel-control-next-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Next</span>
    </button>
  </div>
</div>