
{{> boilerplate}}
<link rel="stylesheet" href="/css/intro.css">
<a id="scrolltoTop" class="shadow-xl text-center"><i class="fas fa-arrow-up"></i><br>TOP</a>

<!-- jumbotron -->
<section class="jumbotron container-fluid mb-0 wow fadeInDown d-flex justify-content-center align-items-center">
  <div class="section-content">
    <div class="container text-center">
      <h1 class="display-4">연구방</h1>
      <p class="lead d-none d-sm-block">단국대학교 죽전캠퍼스 전자전기공학부 소속 학술동아리</p>
      <hr class="my-4">
      <div class="collapse" id="introMore">
        <p class="lead">"연구방은 전자전기공학부 과동아리로, 선후배와 동기들간의 친목 및 학업증진을 위한 협력을 목적으로 개설된 학술 동아리입니다."</p>
      </div>
      <a class="btn btn-light bg-secondary text-white btn-lg d-none d-lg-block" data-bs-toggle="collapse" href="#introMore" role="button" aria-expanded="false" aria-controls="introMore">Learn More</a>
    </div>
  </div>
</section>

<!-- section me -->
<section id="me">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 p-4">
          <img src="/images/room.png" alt="" class="d-none d-lg-block img-fluid shadow-xl wow fadeInLeft">
        </div>
        <div class="col-lg-6 p-4">
          <h1>방장: 류연수</h1><p class="lead text-dark fint-weight-bold">안녕하십니까 37기 연구방 방장 류연수입니다.</p>
          <p></p>
          <hr class="mt-4">
          <p class="mt-3 wow fadeInRight d-none d-lg-block">
            <small>올해의 연구방 이슈 : 프로보노 공모전 동상 수상</small>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZhnMR_d77Ds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section history -->
<section id="brand-history" class="section-content">
  <div class="container">
    <div class="row brand-content rgba-black-light p-3 wow bounceIn">
      <div class="col-lg-8 offset-lg-2 text-lg-center text-white my-5">
        <h3>연구방의 역사</h3>
        <p class="lead my-4">
          연구방은 전자전기공학부의 학술동아리로입니다.
          1988년에 창립되어 현재까지 졸업생 재학생 모두 활발하게 교류하고 있는 동아리입니다. 
        </p>
      </div>
      {{!-- <div class="col-lg-6 mb-5 text-white">
        <h4 class="mb-4">Brief History</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa repellat, nisi eligendi deleniti eum exercitationem odio mollitia velit earum asperiores reiciendis, iure laboriosam ullam, quod doloremque odit ipsum vel rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa repellat, nisi eligendi deleniti eum exercitationem odio mollitia velit earum asperiores reiciendis, iure laboriosam ullam, quod doloremque odit ipsum vel rem.</p>
      </div>
      <div class="col-lg-6 mb-5 text-white">
        <h4 class="mb-4">My Carrer</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa repellat, nisi eligendi deleniti eum exercitationem odio mollitia velit earum asperiores reiciendis, iure laboriosam ullam, quod doloremque odit ipsum vel rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa repellat, nisi eligendi deleniti eum exercitationem odio mollitia velit earum asperiores reiciendis, iure laboriosam ullam, quod doloremque odit ipsum vel rem.</p>
      </div> --}}
    </div>
  </div>
</section>

<link rel="stylesheet" href="/css/lightbox.min.css">
<!-- section about me -->
<section id="aboutme" class="mt-4">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <!-- About 09room -->
        <div class="col-lg-6 mb-4">
          <h3 class="mb-5">연구방에 관하여...</h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="aboutMe-tab" data-bs-toggle="tab" data-bs-target="#aboutMe" type="button" role="tab" aria-controls="aboutMe" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="photoMe-tab" data-bs-toggle="tab" data-bs-target="#photoMe" type="button" role="tab" aria-controls="photoMe" aria-selected="false">Profile</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="aboutMe" role="tabpanel" aria-labelledby="aboutMe-tab">
              <img src="/images/aboutus.jpg" alt="" class="img-fluid shadow-xl my-5 wow slideInLeft">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque maiores magnam quas, sint officia a veniam, dolore explicabo aliquid omnis autem possimus sed cupiditate debitis placeat nihil necessitatibus? Inventore, culpa.</p>
            </div>

            <div class="tab-pane fade" id="photoMe" role="tabpanel" aria-labelledby="photoMe-tab">
              <div class="image-lightbox my-5">
                <div class="row">
                    <div class="col">
                      <a class="example-image-link" href="/images/office-1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="img-fluid shadow-xl example-image" src="/images/office-1.jpg" alt=""/></a>
                    </div>                
                    <div class="col">
                      <a class="example-image-link" href="/images/office-2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="img-fluid shadow-xl example-image" src="/images/office-2.jpg" alt=""/></a>
                    </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <a class="example-image-link" href="/images/office-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="img-fluid shadow-xl example-image" src="/images/office-3.jpg" alt=""/></a>
                  </div>
                  <div class="col">
                    <a class="example-image-link" href="/images/office-4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="img-fluid shadow-xl example-image" src="/images/office-4.jpg" alt=""/></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </div>
        <!-- Frequently Asked Questions -->
        <div class="col-lg-6 mb-4">
          <div class="faq">
            <h3 class="mb-4">자주 묻는 질문</h3>
            <div class="accordion accordion-flush" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header border-0" id="headingOne">
                  <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    가입신청기간과 방법을 알고싶어요!!
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    연구방 가입신청은 학기중 어느때나 받고 있습니다.<br>
                    단, 휴학생은 규정상 받고있지 않는 점 이해바랍니다.<br>
                    연구방 가입을 희망하시는 분은 2공학관 218호를 찾아주시거나, 연구방 가입 카카오톡 오픈 채팅방, 연구방 방장에게 문의하기를 통해 가입 가능합니다. 
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header border-0" id="headingTwo">
                  <button class="accordion-button bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    연구방에서는 주로 어떤 활동을 하나요??
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    첫째로, 연구방은 친목 위주의 학술동아리 입니다.<br>
                    친목 활동과 학업에 관한 정보 교류등을 통하여 학교생활에 관한 이득이 되는 정보를 얻을 수 있습니다.<br>
                    둘째로, 연구방은 방향이 같은 부원들과 함께 공모전 및 대회를 준비합니다.<br>
                    한이음, 프로보노 공모전 등 ICT 관련 공모전에서 다수 수상한 기록이 있습니다.<br>
                    셋째로, 졸업생과 재학생의 지속적인 교류가 있습니다.<br>
                    연구방은 정기적으로 1년마다 한번씩 창립제와 청출어람 등의 행사를 통해 졸업생 선배님들과의 만남을 진행하고 있습니다.<br>
                  </div>
                </div>
              </div>
              {{!-- <div class="accordion-item">
                <h2 class="accordion-header border-0" id="headingThree">
                  <button class="accordion-button bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion Item #3
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{> footer}}

<script src="/js/lightbox-plus-jquery.min.js"></script>
<script src="/js/intro.js"></script>