<p>안녕하세요 {{name}}님 연구방입니다.,</p>
<p>본 메일은 회원가입 인증용 링크 발급 메일입니다. 인증을 원하시면 아래 링크를
  눌러주세요</p>
<p>
  <a href='http://localhost:3000/users/authmail/{{id}}'>여기를 클릭하세요.</a>
</p>

<p>연구방 회원가입과 관련이 없으시면 본 메일은 무시하셔도 됩니다.</p>